img {
    max-width: 100%;
    height: auto;
  }
  body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    color: aliceblue;
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  
:root {
  --color-1: rgb(111,114,127);
  --color-2: rgb(238,237,237);
  --color-3: rgb(170,102,181);
  --color-4: rgb(134,107,122);
}

/* body {
  background: linear-gradient(90deg, var(--color-1) 0%, var(--color-1) 25%, var(--color-2) 25%, var(--color-2) 50%, var(--color-3) 50%, var(--color-3) 75%, var(--color-4) 75%, var(--color-4) 100%);
} */